@import "tailwindcss";

@theme {
    /* background*/
    --color-slate-900: #0f172a;
    --color-slate-950: #020617;

/*    text */
    --color-text-primary: #e5e7eb;
    --color-text-muted: #94a3b8;
    --color-text-disabled: #64748b;

/*    primary accent*/
    --color-blue-600: #2563eb;
    --color-blue-500: #3b82f6;

    /* snowball*/
    --color-snowball-hlight: #f8fafc;
    --color-snowball-base: #e5e7eb;
    --color-snowball-shadow: #cbd5e1;

/*    intensity colors heatmap*/
    --color-intensity-none: #020617;
    --color-intensity-low: #93c5fd;
    --color-intensity-medium: #3b84f6;
    --color-intensity-high: #1d4ed8;


/*
    Sky Dark     — #020617
    Sky Light    — #020617 → #0f172a (very subtle)
    Mountain     — #1e293b (slate-800)
    Figure       — #020617 (silhouette)
*/
}

:root {
    background-color: var(--color-slate-900);
}